name: Secret Scan CI

on:
  push:
    paths-ignore:
      - README.md
      - "**/*.md"
  pull_request:
    paths-ignore:
      - README.md
      - "**/*.md"

jobs:
  secret-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install pyyaml

      - name: Run Secret Scanner (Audit Mode)
        env:
          CI_AUDIT_MODE: "true"
        run: |
          python scanner/secret_scanner.py
