name: Secret Scan CI

on: [push, pull_request]

jobs:
  secret-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Run Secret Scanner
        run: |
          python scanner/secret_scanner.py
      - name: Install dependencies
        run: |
          pip install pyyaml

